.mr-auto, .mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin-top: 5em;
}

.carousel-item img {
  max-height: 28em;
  margin: auto;
  max-width: 100%;
}

#carouselExampleControls>div>a>span {
  height: 1em;
  width: 1em;
}
