.nav {
	margin-left: auto;
	margin-right: auto;
}

.nav-link {
	margin: auto;
}

nav {
	min-height: 6.5rem;
	padding: 0.8rem 2rem !important;
}

.container {
  margin-top: 7em;
}

h1 {
  font-size: 3rem;
}

.carousel-item img {
  max-height: 28em;
  margin: auto;
  max-width: 100%;
}

#carouselExampleControls>div>a>span {
  height: 1.8em;
  width: 1.8em;
  background-color: grey;
  border-radius: 1em;
}

#carouselExampleControls>div>a>span>svg {
  height: 1em;
  width: 1em;
}
